<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'form' %>
</head>
<body>
<div class="form-container">
  <%= form_with(model: @patient, local: true) do |form| %>

    <div class="form-field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="form-field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>

    <div class="form-field">
      <%= form.label :phone %>
      <%= form.text_field :phone %>
    </div>

    <div class="form-field">
      <%= form.label :diagnosis %>
      <%= form.text_field :diagnosis %>
    </div>

    <div class="form-actions">
      <%= form.submit 'Save', class: "button" %>
      <%= render 'errors' %>
    </div>
  <% end %>
</div>
</body>
</html>
